.apply-print-image-story-book-style {
    @media print {

        .image1-desc:not(:last-child) {
            page-break-after: always; /* End the page after the image */
        }

        body{
            font-family: 'Comic Sans MS', 'Arial', sans-serif !important; /* Fun and readable font family */
            font-size: 20px !important; /* Slightly larger font size for easy reading */
            color: #333; /* Dark grey text color for readability */
            line-height: 1.6; /* Comfortable line spacing */
            margin: 0;
            padding: 0;
        }

        .paragraph2-desc{
            font-family: 'Comic Sans MS', 'Arial', sans-serif !important; /* Fun and readable font family */
            font-size: 20px !important; /* Slightly larger font size for easy reading */           
        }

        .curvedBox {
            
             border-radius: 20px ; 
             margin-bottom: 50px;             
        }
        h1, .h1{
            font-family: 'Comic Sans MS', 'Arial', sans-serif !important; /* Fun and readable font family */
            font-size: 30px !important;
        }
        .image1-desc{
            margin: 10px;
        }

        .image1-desc img {
            width: 98% !important;
        }
        /* Optional: Remove elements like buttons in the print version */
        button {
            display: none;
        }
        .d-print-inline {
            display: inline !important;
          }
        
          .d-print-inline-block {
            display: inline-block !important;
          }
        
          .d-print-block {
            display: block !important;
          }
        
          .d-print-grid {
            display: grid !important;
          }
        
          .d-print-table {
            display: table !important;
          }
        
          .d-print-table-row {
            display: table-row !important;
          }
        
          .d-print-table-cell {
            display: table-cell !important;
          }
        
          .d-print-flex {
            display: flex !important;
          }
        
          .d-print-inline-flex {
            display: inline-flex !important;
          }
        
          .d-print-none {
            display: none !important;
          }

          #mainContainer {
            border: none !important;
        }
    }
}