.apply-print-image-story-book-style {
  @media print {

    /* .image1-desc:not(:last-child) {
      page-break-after: always;
    } */

    body {
      font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
      /* Fun and readable font family */
      font-size: 20px !important;
      /* Slightly larger font size for easy reading */
      color: #333;
      /* Dark grey text color for readability */
      line-height: 1.6;
      /* Comfortable line spacing */
      margin: 0;
      padding: 0;
      background: #fff;
    }

    /* Ensure <br> elements do not add unnecessary space */
    br {
      display: none;
    }

    /* Style to add margin only where needed */
    .paragraph2-desc p:not(:last-child),
    .paragraph1-desc p:not(:last-child) {
      margin-bottom: 15px; /* Adjust the margin as needed */
    }

    .paragraph2-desc {
      font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
      /* Fun and readable font family */
      font-size: 20px !important;
      /* Slightly larger font size for easy reading */
       margin: 20px; 
    }

    .curvedBox {
      border-radius: 20px;
      margin-bottom: 50px;
    }

    h1,
    .h1 {
      font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
      /* Fun and readable font family */
      font-size: 30px !important;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1.5;
    }

    .image1-desc {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      display: block;
      width: auto !important;
    }

    .image1-desc img {
      width: 98% !important;
      max-width: 400px;
      margin: auto;
      border-radius: 20px;
      padding: 0px;
      /*DO NOT DELETE below shadows - May be used in future - */
      /* box-shadow: 0 0 35px 4px rgba(5, 5, 0, 0.8); */
      /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.05), 0 0 50px rgba(0, 0, 0, 0.02);*/
    }

    /* Optional: Remove elements like buttons in the print version */
    button {
      display: none;
    }


    .d-print-inline {
      display: inline !important;
    }

    .d-print-inline-block {
      display: inline-block !important;
    }

    .d-print-block {
      display: block !important;
    }

    .d-print-grid {
      display: grid !important;
    }

    .d-print-table {
      display: table !important;
    }

    .d-print-table-row {
      display: table-row !important;
    }

    .d-print-table-cell {
      display: table-cell !important;
    }

    .d-print-flex {
      display: flex !important;
    }

    .d-print-inline-flex {
      display: inline-flex !important;
    }

    .d-print-none {
      display: none !important;
    }

    #mainContainer {
      border: none !important;
    }
  }
}

.copy-image-story-book-style {

    /* .image1-desc:not(:last-child) {
      page-break-after: always;
    } */

    body {
      font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
      /* Fun and readable font family */
      font-size: 20px !important;
      /* Slightly larger font size for easy reading */
      color: #333;
      /* Dark grey text color for readability */
      line-height: 1.6;
      /* Comfortable line spacing */
      margin: 0;
      padding: 0;
      background: #fff;
    }

    /* Ensure <br> elements do not add unnecessary space */
    br {
      display: none;
    }

    .noPrint, #qzres, #sndmsgdivid, .videoIframeDiv, .printBtnDivCls, .pageinfo-desc, .chartDiv, .topnav, .sbmtqz-div, .topNavDivCls, .bottomNavDivCls, .bottomCommentDivCls, .footerDiv, #tutorialListDivId, #tutorialEditDivId {
      display: none !important;
    }
    
    /* Style to add margin only where needed */
    .paragraph2-desc p:not(:last-child),
    .paragraph1-desc p:not(:last-child) {
      margin-bottom: 15px; /* Adjust the margin as needed */
    }

    .paragraph2-desc {
      font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
      /* Fun and readable font family */
      font-size: 20px !important;
      /* Slightly larger font size for easy reading */
       margin: 20px; 
    }

    .curvedBox {
      border-radius: 20px;
      margin-bottom: 50px;
    }

    h1,
    .h1 {
      font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
      /* Fun and readable font family */
      font-size: 30px !important;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1.5;
    }

    .image1-desc {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      display: block;
      width: auto !important;
    }

    .image1-desc img {
      width: 98% !important;
      max-width: 400px;
      margin: auto;
      border-radius: 20px;
      padding: 0px;
      /* box-shadow: 0 0 35px 4px rgba(5, 5, 0, 0.8); */
      /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.05), 0 0 50px rgba(0, 0, 0, 0.02);*/
    }

    /* Optional: Remove elements like buttons in the print version */
    button {
      display: none;
    }

    .d-print-inline {
      display: inline !important;
    }

    .d-print-inline-block {
      display: inline-block !important;
    }

    .d-print-block {
      display: block !important;
    }

    .d-print-grid {
      display: grid !important;
    }

    .d-print-table {
      display: table !important;
    }

    .d-print-table-row {
      display: table-row !important;
    }

    .d-print-table-cell {
      display: table-cell !important;
    }

    .d-print-flex {
      display: flex !important;
    }

    .d-print-inline-flex {
      display: inline-flex !important;
    }

    .d-print-none {
      display: none !important;
    }

    #mainContainer {
      border: none !important;
    }
  
}

.image-story-book-style {

  /* .image1-desc:not(:last-child) {
    page-break-after: always;
  } */

  body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
    /* Fun and readable font family */
    font-size: 20px !important;
    /* Slightly larger font size for easy reading */
    color: #333;
    /* Dark grey text color for readability */
    line-height: 1.6;
    /* Comfortable line spacing */
    margin: 0;
    padding: 0;
    background: #fff;
  }

  /* Ensure <br> elements do not add unnecessary space */
  br {
    display: none;
  }

  .noPrint, #qzres, #sndmsgdivid, .videoIframeDiv, .pageinfo-desc, .chartDiv, .sbmtqz-div, .bottomCommentDivCls {
    display: none !important;
  }
  
  /* Style to add margin only where needed */
  .paragraph2-desc p:not(:last-child),
  .paragraph1-desc p:not(:last-child) {
    margin-bottom: 15px; /* Adjust the margin as needed */
  }

  .paragraph2-desc {
    font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
    /* Fun and readable font family */
    font-size: 20px !important;
    /* Slightly larger font size for easy reading */
     margin: 20px; 
  }

  .curvedBox {
    border-radius: 20px;
    margin-bottom: 50px;
  }

  h1,
  .h1 {
    font-family: 'Comic Sans MS', 'Arial', sans-serif !important;
    /* Fun and readable font family */
    font-size: 30px !important;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  .image1-desc {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: fit-content;
  }

  .image1-desc img {
    width: 100% !important;
    max-width: 400px;
    margin: auto;
    height: auto;
    /* border-radius: 20px; */
    padding: 0px;
    /* box-shadow: 0 0 35px 4px rgba(5, 5, 0, 0.8); */
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.05), 0 0 50px rgba(0, 0, 0, 0.02);*/
  }


  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-grid {
    display: grid !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }

  .d-print-none {
    display: none !important;
  }

  #mainContainer {
    border: none !important;
  }

  .camera-frame {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px dashed red;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: move;
    overflow: hidden;
    z-index: 10;
    display: block;
  }
  
  .story-image-resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    cursor: nwse-resize;
    display: block;
  }
}
  .image-story-book-edit-style {
    .image1-desc {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      position: relative;
      display: inline-block;
      width: fit-content;
    }
  
    .image1-desc img {
      width: 100% !important;
      max-width: 400px;
      margin: auto;
      height: auto;
      /* border-radius: 20px; */
      padding: 0px;
      /* box-shadow: 0 0 35px 4px rgba(5, 5, 0, 0.8); */
      /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.05), 0 0 50px rgba(0, 0, 0, 0.02);*/
    }

    .camera-frame {
      position: absolute;
      top: 0;
      left: 0;
      border: 2px dashed red;
      background-color: rgba(255, 255, 255, 0.3);
      cursor: move;
      overflow: hidden;
      z-index: 10;
      display: block;
      min-width: 50px;
      min-height: 30px;
    }
    
    .story-image-resize-handle {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 10px;
      background-color: red;
      cursor: nwse-resize;
      display: block;
  }
  .copyHtmlButton{
    display: block;
  }

  .imagePropButton{
    display: block;
  }
}