#slideInDivId{
    color: #a29e9e; 
    font-size: 32px; 
    margin-left: 20px;
  }
  #slideInDivId:hover{
    color: #000;
  }

/* Slide-In Menu Button */
#slideInDivId {
    background-color: #0073e6;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 0px;
    min-width: 50px;
}

#slideInDivId:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

/* Contact Form */
#tutorialDivId #sndmsgdivid {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 15px auto !important;
}

#tutorialDivId #sndmsgdivid .formInputText, #tutorialDivId #sndmsgdivid textarea {
    width: calc(100% - 8px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#tutorialDivId #sndmsgdivid button.helper {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

#tutorialDivId #sndmsgdivid button.helper:hover {
    background-color: #005bb5;
}

